.home {
    position: relative;
    width: 100%;
    height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: url('../assets/hero bg.png') no-repeat center;
    background-size: cover;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.home > * {
    position: relative;
    z-index: 1;
}

.aside1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5rem;
    gap: 1rem;
}

.my-pic {
    width: 22rem;
}

.home > h3,
h1,
h3 {
    margin: 0;
}

.name {
    color: #FCAE1B;
    text-shadow: #000000;
}

a {
    text-decoration: none;
    color: #fff;
}

.role {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.type-animation {
    width: 2px;
    height: 10px;
    background-color: #fff;
}

.text-box {
    position: relative;
    font-size: 0.9rem;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #000000;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@media screen and (max-width: 880px) {
    .aside1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1.2rem;
        gap: 1rem;
        margin-left: -20px;
    }

    .my-pic {
        width: 20rem;
    }
    
    .name-input,
    .email-input,
    .message-input {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 710px) {
    .home {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-left: 0;
    }

    .aside1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-pic {
        width: 250px;
        margin-top: 20px;
    }
}