.projects-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
    padding-bottom: 40px;
    background-color: #0c0c0c;
}

.projects-section>h1 {
    margin: 2rem;
}

.project-img {
    width: 400px;
}
.project-about{
    margin: 10px 0;
}
.projects-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    background-color: #1f1e1e;
    border-radius: 10px;
    padding: 1.5rem;
}

.project-title {
    font-size: 1.5rem;
    color: #FCAE1B;
}

.tech-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    margin-bottom: 10px;
}
.tech{
    border-radius: 20px;
    border: 2px solid #df1313;
    padding: 5px 10px;
    margin: 5px 0;
}

.btn-4 {
    background-color: #df1313;
    padding: 10px;
    margin-right: 10px;
    color: #fff;
    transition: all ease-in-out 0.5s;
}

.btn-4:hover {
    transform: scale(10px);
    border: 2px solid #df1313;
    background-color: #000000;
    transition: all ease-in-out 0.5s;
}


@media screen and (max-width: 950px) {
    .projects-container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .project {
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    .p-2 {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 550px) {

    .project,
    .project-img {
        width: 250px;
    }

    .project-title {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 400px) {
    .project {
        padding: 1rem;
    }
}